@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @apply p-0 m-0 font-dm-sans leading-6;
    height: 100vh;
    height: var(--main-app-height);
  }

  p {
    @apply text-sm md:text-lg lg:text-base xl:text-lg 2xl:text-xl;
  }

  h1, .h1 {
    @apply font-dm-sans font-normal leading-[125%] text-3xl md:text-4xl lg:text-3xl xl:text-4xl 2xl:text-[210%];
  }

  h2, .h2 {
    @apply font-dm-sans font-normal leading-[125%] text-xl md:text-3xl lg:text-2xl xl:text-3xl 2xl:text-[170%];
  }

  h3, .h3 {
    @apply font-domaine-text font-normal leading-[125%] text-lg md:text-2xl lg:text-2xl xl:text-3xl 2xl:text-[150%];
  }


}

#__next {
  @apply w-full h-full;
}

html {
  font-size: 16px;
}

